#body {
    background-color: #fff;
    font-family: sans-serif;
}

#h1 {
    font-weight: normal;
    font-size: 140%;
}

#terminal div {
    color: gray;
}

#terminal div.out {
    color: red;
}

#terminal div.in {
    color: turquoise;
}

div.term{
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 20px;
    background-color: black;
    max-width: 500px;
    max-height: 400px;
    overflow: auto;
    float: right;
}
