#body {
    background-color: #fff;
    font-family: sans-serif;
}

#h1 {
    font-weight: normal;
    font-size: 140%;
}

#terminal div {
    color: gray;
    overflow: auto;
}

#terminal div.out {
    color: red;
}

#terminal div.in {
    color: turquoise;
}

div.term{
    margin-top: 90px;
    margin-right: 20px;
    padding-left: 20px;
    background-color: black;
	outline-width: 0;
    max-width: 300px;
    max-height: 400px;
    overflow: auto;
    float: right;
}
.zimd_header { 
    background-image: url("media/bg.PNG");
    color: black;
    background-position: 100% 100%;
    background-size: 100% 100%;
    display: inline;
    /*float: middle;
    height: 220px;*/
    position: relative;
   /* width: 100%;*/
  }
.bluetooth { 
    background-color: #e066ff; 
    color: black;
  }
.workspace{ 
	background-color: #eae6df;
	padding-bottom: 20px;
	float: left;
}
#blocklyDiv{
    height:50%;
    width: 100%;
}