#body {
    background-color: #fff;
    font-family: sans-serif;
}

#h1 {
    font-weight: normal;
    font-size: 140%;
}

#terminal div {
    color: gray;
}

#terminal div.out {
    color: red;
}

#terminal div.in {
    color: turquoise;
}

div.term{
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 20px;
    background-color: black;
    max-width: 500px;
    max-height: 400px;
    overflow: auto;
    float: right;
}
.bg-1 { 
    background-image: url("media/bg.PNG");
    color: #ffffff;
    background-position: 100% 100%;
    background-size: 100% 100%;
    display: inline;
    float: left;
    height: 220px;
    position: relative;
    width: 100%;
  }
.bg-2 { 
    background-color: #e066ff; 
    color: #ffffff
  }
.bg-3 { 
    background-color: #eeeee0; 
    color: #555555;
  }
.bg-4 { 
background-color: #eae6df;

}