html,body{
	height: 100%;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}

body {
  background-color: white;
  font-family: sans-serif;
}

h1 {
	font-weight: normal;
	font-size: 140%;
}

table {
	height: 70%;
	width: 100%;
}

button {
	margin-right: 5px;
}

#blocklyArea {
    height: 99%;
}

#start {
	float: left;
}

#stop {
	float: right;
}

#endProgram {
	float: right;
}

.bluetooth {
	font-size: smaller;
	font-weight: lighter;
	color: black;
}

/*
#terminal div {
    color: gray;
    overflow: auto;
}
#terminal div.out {
    color: red;
}
#terminal div.in {
    color: turquoise;
}
div.term{
	margin-bottom: 20px;
	margin-top: 98px;
  background-color: black;
	outline-width: 0;
  max-width: 300px;
  max-height: 200px;
  overflow: auto;
  float: right;
}
*/
