#body {
	padding-left: 20px;
	/*background-color: lightgoldenrodyellow;*/
	font-family: sans-serif;
}

#terminal div {
    color: gray;
    overflow: auto;
}

#terminal div.out {
    color: red;
}

#terminal div.in {
    color: turquoise;
}

div.term{
	margin-bottom: 20px;
	margin-top: 98px;
    background-color: black;
	outline-width: 0;
    max-width: 300px;
    max-height: 200px;
    overflow: auto;
    float: right;
}

#blocklyDiv{
    height:50%;
    max-width: 100%;
}